<h1>New Gossip</h1>
<%= form_tag (gossips_path) do %>
<%= label_tag 'anonymous_author', 'Author' %>
<%= text_field_tag 'Name' %>
<%= label_tag 'comment', 'Content' %>
<%= text_area_tag 'My gossip' %>
<%= submit_tag "Post "%>
<% end %>
