<h1>New Profile</h1>

<%= form_tag (moussaillons_path) do %>

<!-- affichage des erreurs, pas actif -->
  <% if @moussaillon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moussaillon.errors.count, "error") %> prohibited this moussaillon from being saved:</h2>

      <ul>
      <% @moussaillon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- formulaire -->
<%= label_tag 'username', 'Username' %>
<%= text_field_tag 'username' %>
<%= label_tag 'mail', 'Email' %>
<%= text_field_tag 'mail' %>
<%= submit_tag "Create my profile"%>
<% end %>
