 <!--NavBar-->
<nav class="navbar navbar-expand-md navbar-light navbar-custom bg-inverse">
  <%= link_to "THE GOSSIP PROJECT", '/', id: "logo" %>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Log in", "/sessions/new" %><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Blog", "/gossips" %><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Post a gossip", "/gossips/new" %><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Sign up", "/moussaillons/new" %><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "MOUSSAILLONS", "/moussaillons/" %><span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
