

  <head>

    <title>The Gossip Project</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= render "layouts/header" %> <!-- partial header-->
    <div class="container" style="padding-top: 5rem;">
        <%= yield %>
         <!-- Adding some debug information to the site layout -->
        <%= render 'layouts/footer' %> <!-- partial footer-->
        <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
